h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-nav {
    display: flex;
    margin-left: 4px;
}

.home-nav .link {
    margin-left: 20px;
}

.container {
    margin: 10px;
}