.notification-box {
    margin-top: 15px;
    display: flex;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 12px;
  }
  
  .notification {
    display: flex;
    align-items: center;
    background-color: #0DAB01;
    background-image: linear-gradient(to right, #8cff8c, #006400);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    width: 272px;
    height: 20px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .notification.success {
    background-color: #0DAB01;
  }
  
  .notification svg {
    width: 30px;
    height: 20px;
    margin-right: 1px;
  }

  .notification p, svg {
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  button.close-button{
    display: flex;
    margin-left: auto;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
  

.gatoItemLista {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-lancar-notas {
    font-size: 16px;
    padding: 8px 15px;
    color: #EB339B;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #EB339B;
    border-radius: 4px;
}

.gatoItemLista div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imagemGato {
    border-radius: 60px;
}

.gatoItemLista div span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.caixa {
    display: flex;
    width: 600px;
    height: fit-content;
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 15px auto;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
}

.caixa ul {
    display: flex;
    flex-flow: column;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;

}

.gatoItemLista div span {
    text-overflow: ellipsis;
    max-width: 200px;
}

.tituloListaGatos {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
}
/*
@media screen and (max-width: 700px) {
    .caixa {
        width: 80%;
    }

    .link-lancar-notas {
        text-align: center;
    }

}
*/
@media screen and (max-width: 768px) {

.caixa {
    width: 80%;
    }
    
.gatoItemLista{

    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    
}

.gatoItemLista div {
    flex-direction: column;
    align-items: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.gatoItemLista div img{
    margin: 20px auto;
    width: 70px;
    height: 70px;
    justify-content: center;
}

}