.gatoItemLista {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-lancar-notas {
    font-size: 16px;
    padding: 8px 15px;
    color: #EB339B;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #EB339B;
    border-radius: 4px;
}

.gatoItemLista div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imagemGato {
    border-radius: 60px;
}

.gatoItemLista div span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.caixa {
    display: flex;
    width: 600px;
    height: fit-content;
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 60px auto;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
}

.caixa ul {
    display: flex;
    flex-flow: column;
    gap: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;

}

.gatoItemLista div span {
    text-overflow: ellipsis;
    max-width: 200px;
}

.tituloListaGatos {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    text-align: center;
}
/*
@media screen and (max-width: 700px) {
.caixa {
    width: 80%;
    } 
.link-lancar-notas {
    text-align: center;
}

}
*/
@media screen and (max-width: 768px) {

.caixa {
    width: 80%;
    }
    
.gatoItemLista{

    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    
}

.gatoItemLista div {
    flex-direction: column;
    align-items: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.gatoItemLista div img{
    margin: 20px auto;
    width: 70px;
    height: 70px;
    justify-content: center;
}

}