.gatoItemLista {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
}

.link-lancar-notas {
    font-size: 16px;
    padding: 8px 15px;
    color: #EB339B;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #EB339B;
    border-radius: 4px;
}

.gatoItemLista div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.imagemGato {
    border-radius: 60px;
}

.gatoItemLista div span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.caixa {
    display: flex;
    width: 600px;
    height: fit-content;
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 60px auto;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
}

.caixa ul {
    display: flex;
    flex-flow: column;
    gap: 20px;
    font-family: 'Roboto', sans-serif;

}

.tituloListaGatos {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
}

@media screen and (max-width: 700px) {
    .caixa {
        width: 80%;
    }

    .link-lancar-notas {
        text-align: center;
    }

}

@media screen and (max-width: 360px) {
    .gatoItemLista {
        flex-direction: column;
    }

}