html {
    scrollbar-gutter: stable
}

body {
    background-color: #f2f2f2;
}

.cabecalhoPrincipal {
    background-color: #fff;
}

.container {
    display: flex;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.logo-cabecalho {
    max-width: 9em;
    margin-left: 10em;
}

.navegacaoLinks {
    max-width: fit-content;
    margin-right: 6.5em;
}

.link-lista {
    font-size: 16px;
    padding: 8px 15px;
    margin-bottom: 10px;
    color: #EB339B;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #EB339B;
    border-radius: 4px;
}

.link-cadastro .botao-cadastro {
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 20px;
    background-color: #EB339B;
    color: #fff;
    border: 2px solid #EB339B;
    border-radius: 4px;
    cursor: pointer;
}


.conteudo-principal {
    display: flex;
    position: absolute;
    align-content: center;
    padding: 60px 0;
    margin-left: 24%;
    margin-right: 10%;
}

h1 {
    font-size: 3em;
}

.texto-saudacao {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    color: black;
}

h2 {
    font-size: 2em;
}

.texto-auxiliar {
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: justify;
    color: #575555;
}

@media screen and (min-width: 701px) and (max-width: 884px) {

    body {
        width: 100%;
    }

    .cabecalhoPrincipal {
        background-color: #fff;
        display: flex;
    }
    
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .logo-cabecalho {
        max-width: 9em;
        margin-left: 5%;
    }
    
    .navegacaoLinks {

        max-width: 400px;
        margin-right: 0;
    }

    .link-lista, .link-cadastro .botao-cadastro {
        flex-shrink: 2;
        margin: 0 0 0 0;
    }

    .link-cadastro .botao-cadastro {
        margin-left: 25px;
    }
    .conteudo-principal {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 0 5% 15%;
    }

    .textos {
        max-width: 85%;
        margin-left: 10%;
    }

    .texto-saudacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        color: black;
    }

    .texto-auxiliar {
        margin: 20px auto;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        text-align: justify;
        color: #575555;
    }

}

@media screen and (max-width: 700px) {

    body {
        width: 100%;

    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
    }

    .logo-cabecalho {
        width: 100%;
        min-width: 5em;
        margin: 0px;
    }
    
    .navegacaoLinks {
        display: flex;
        width: fit-content;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        max-width: min-content;
        margin-right: 0;
    }

    .link-lista {
        padding: 0.4em 1.2em;
        color: #EB339B;
        background-color: #fff;
        text-decoration: none;
        border: 2px solid #EB339B;
        border-radius: 4px;
    }

    .link-cadastro .botao-cadastro {
        padding: 0.4em 1.2em;
        font-family: 'Roboto', sans-serif;
        background-color: #EB339B;
        color: #fff;
        border: 2px solid #EB339B;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .link-lista, .link-cadastro .botao-cadastro {
        font-size: 16px;
        text-align: center;
        width: 200px;
        padding: 10px 0;
        margin: 3px auto;
        justify-content: center;
    }
    
    .conteudo-principal {
        max-width: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px auto;
    }

    .textos {
        max-width: 84%;
        margin: 0 16%;
    }

    .texto-saudacao {
        margin: 0 auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: black;
    }

    .texto-auxiliar {
        margin: 20px auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: justify;
        color: #575555;
    }
}